@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;700&display=swap');

:root {
    --black:rgb(0, 0, 0);
    --white:rgb(255, 255, 255);
    --green:rgb(127, 219, 127);
    --gray: rgb(185, 185, 185, 0.76);
    --red: rgb(255, 0, 0, 0.856);
    --poorGray: rgb(224, 224, 224);
    --blue: rgb(36, 120, 231);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--green);
}

.calculator-container {
    background-color: var(--white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--black);
    text-align: center;
    max-width: 400px;
    width: 100%;
    line-height: 1.6; 
}

/* Стиль заголовка */
.calculator-container h1 {
    color: var(--black);
    font-size: 24px;
    margin-bottom: 20px; 
}

.input-group {
    margin-bottom: 20px; 
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--black);
}

/* Стиль введення числа та повзунка */
.input-group input[type="number"],
.input-group input[type="range"] {
    width: calc(100% - 30px);
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--gray);
    box-sizing: border-box;
}

/* Стиль кнопки */
#submit-btn {
    background-color: var(--green);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.5s ease, font-size 0.5s ease, letter-spacing 0.5s ease; 
    font-size: 14px; 
    letter-spacing: 0; 
}

#submit-btn:hover {
    background-color: var(--green);
    font-size: 21px; 
    letter-spacing: 1px;
}

/* Стиль підказок */
.input-hint {
    font-size: 14px;
    color: var(--black);
    margin-top: 15px;
}
/* Стиль кнопки, коли вона не активна */
#submit-btn:disabled {
    background-color: var(--red); 
    cursor: not-allowed;
}

#submit-btn:disabled:hover {
    background-color: var(--red); 
}

/* Стиль тексту кнопки, коли вона не активна */
#submit-btn:disabled::before {
    content: "Введіть коректні значення в полях, щоб ";
    display: block;
    font-size: 14px;
    color: var(--white);
}

#submit-btn:disabled:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 5px;
    transform: translateX(-50%);
    font-size: 10px;
    color: var(--white);
}
/* Стилі для футера */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--poorGray); 
    padding: 10px 0; 
    text-align: center;
}

.footer a {
    color: var(--red); 
    text-decoration: none; 
    transition: color 0.3s; 
    display: inline-block; 
}

.footer a:hover {
    color: var(--blue); 
    animation: rotateLink 1s linear forwards; 
}

@keyframes rotateLink {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

